body{background-color: #F1F1F1; margin: 0; padding: 0;}
button:hover{cursor: pointer;}
input[type=submit]:hover {cursor: pointer;}


.container{width: 940px; overflow-x:hidden; overflow-y:auto;min-height: 1000px; margin-right: auto; margin-left: auto;background-color: #fff; padding: 10px;}
.title{width:100%; height:50px; margin-right: auto; margin-left: auto; line-height: 50px; background-color: #e3e3e3;box-shadow: 2px 2px 2px #c1c1c1; border-radius: 7px;}
	.title h1{text-align: center; margin: 0;}
.update-info{width:100%; height:50px; margin-right: auto; margin-left: auto; line-height: 50px; background-color: #e3e3e3;box-shadow: 2px 2px 2px #c1c1c1; border-radius: 7px;margin-top: 10px;}
	.update-info h3{text-align: center; margin: 0;}
.sub-container{margin-top: 5px; padding: 5px; min-height: auto; margin-bottom: 5px;}
	.sub-container .ticket-field{width: 200px; float: right;}
	.sub-container .name-field{width: 200px; float: right;}
	.sub-container .rloc-field{width: 200px; float: right;}
	.sub-container .date-from-field{width: 200px; float: right;}
	.sub-container .date-to-field{width: 200px; float: right;}
form .input-group{float: left; width: 500px;}
.form-field{width: 480px; float:left; margin-bottom: 5px;}
	.button-field{float:left; margin: -5px 0 0 10px; width: 400px; margin: 0px 5px 5px 0;}
	.button-field button {margin: 5px 0 0; float:left;margin: 0px 5px 5px 0;}
	.button-field input {margin: 5px 0 0; float:left; margin: 0px 5px 5px 0;}
	.button-field #system-selector-button {margin: 0; float:left;height: 36px;}
#text-field{width: 870px; min-height: 700px; margin-top: 15px; padding: 10px 30px;background-color: #e3e3e3;box-shadow: 2px 2px 2px #c1c1c1; border-radius: 7px;float: left;}
	#text-field .block-hearder{margin: 0; float: left;width: 840px; padding: 5px 0 5px 30px;}
	#text-field .text-block{background: none repeat scroll 0 0 white; padding: 5px 0 5px 30px; min-height: 440px; height: auto;float: left;width: 840px; overflow-x: hidden;}
	#text-field .block-hearder span{margin: 0 0 0 30px;}
		#text-field .block-hearder .ui-accordion-header-icon{margin: -8px 0 0; float: left;}
		#text-field .block-hearder .header-date{float: left; height: 20px; width: 100px; color:#AF1F18;}
		#text-field .block-hearder .header-name{float: left; height: 20px; width: 300px; color:#0969AF;}
		#text-field .block-hearder .header-airline{float: left; height: 20px; width: 290px;color: #FAA523;}
	#text-field .print-btn{float: right;}
	#text-field pre{float: left; width: 620px;}
	#text-field .comment-area{overflow-x: hidden; overflow-y: auto;float: left;width: 210px;margin: 10px 0 0;border-radius: 5px;height: 390px;background: none repeat scroll 0 0 #e3e3e3;}
	#text-field .button-block{float: right;}
	#text-field .single-comment{float: left; padding: 0 20px; width: 170px; word-wrap: break-word;}
.ticket-highlight{background-color: yellow;}